

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Wanda Maximoff">
<img src="../../assets/img/scarlet-witch-transparent.png">
<iframe width="1000" height="620" margin-left="200"  src="https://www.youtube.com/embed/bqxelQhXP9g" title="Doutor Estranho no Multiverso da Loucura  | Teaser Legendado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Trailer">
<img src="../../assets/img/scarlet-witch-transparent.png">
  </mat-tab>
  
</mat-tab-group>

