

<mat-tab-group  animationDuration="0ms" class="row">
  <mat-tab class="coluna" label="Wanda Maximoff">
<img height="58%" class="coluna" margin-left="10px"  src="../../assets/img/scarlet-witch-transparent.png">
<iframe width="50%" height="32%" margin-left="20%" scrolling="0"  src="https://www.youtube.com/embed/bqxelQhXP9g" title="Doutor Estranho no Multiverso da Loucura  | Teaser Legendado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Série">
    <article class="card">
        
        <div class="maskara"></div>
        <div class="imgCapa">
           
            <img src="../../assets/img/paul-bettany-e-elizabeth-olsen-em-wandavision-do-disney-plus-foto-reproducao-disney-plus-conteudo-ca.png">
        </div><!--imgCapa-->
            <div class="descricao">
                <h3 class="icon icon-coffee-streamline"> O que Aconteceu ?</h3>
                <p> Algumas curiosidades  </p>
                <a href="#" class="btn"> Veja mais</a>
            </div><!--descrição-->
   
    </article><!--Card-->
    <article class="card">

        <div class="maskara"></div>
        <div class="imgCapa">
           
            <img src="../../assets/img/wandavision.0.png">
        </div><!--imgCapa-->
            <div class="descricao">
                <h3 class="icon icon-chef-food-restaurant-streamline"> Nostalgia</h3>
                <p>Conheça as antigas séries que serviram de inspiração para Wanda Vision</p>
                <a href="#" class="btn"> Veja mais</a>
            </div><!--descrição-->
   
    </article><!--Card-->
    <article class="card">

        <div class="maskara"></div>
        <div class="imgCapa">
           
            <img src="../../assets/img/777a6dd561b549aba8a951854b3d2efa.png">
        </div><!--imgCapa-->
            <div class="descricao">
                <h3 class="icon icon-eat-food-hotdog-streamline"> Amor </h3>
                <p> Um amor que deveria ser Eterno  </p>
                <a href="#" class="btn"> Veja mais</a>
            </div><!--descrição-->
   
    </article><!--Card-->
    <article class="card">

        <div class="maskara"></div>
        <div class="imgCapa">
           
            <img src="../../assets/img/777a6dd561b549aba8a951854b3d2efa.png">
        </div><!--imgCapa-->
            <div class="descricao">
                <h3 class="icon icon-eat-food-hotdog-streamline"> Filhos da Wanda </h3>
                <p> Quem são os filhos da Wanda </p>
                <a href="#" class="btn"> Veja mais</a>
            </div><!--descrição-->
   
    </article><!--Card-->
   
    <article class="card">

        <div class="maskara"></div>
        <div class="imgCapa">
           
            <img src="../../assets/img/777a6dd561b549aba8a951854b3d2efa.png">
        </div><!--imgCapa-->
            <div class="descricao">
                <h3 class="icon icon-eat-food-hotdog-streamline"> Amor </h3>
                <p> Um amor que deveria ser Eterno  </p>
                <a href="#" class="btn"> Veja mais</a>
            </div><!--descrição-->
   
    </article><!--Card-->
    <article class="card">

        <div class="maskara"></div>
        <div class="imgCapa">
           
            <img src="../../assets/img/777a6dd561b549aba8a951854b3d2efa.png">
        </div><!--imgCapa-->
            <div class="descricao">
                <h3 class="icon icon-eat-food-hotdog-streamline"> Amor </h3>
                <p> Um amor que deveria ser Eterno  </p>
                <a href="#" class="btn"> Veja mais</a>
            </div><!--descrição-->
   
    </article><!--Card-->
  </mat-tab>
  <mat-tab label="HQS da Wanda">
    
    
  </mat-tab>
  
</mat-tab-group>

